config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.nonnull.exceptiontype=IllegalArgumentException

lombok.addSuppressWarnings = true

# https://docs.spring.io/spring-framework/reference/7.0/core/null-safety.html ➕ http://jspecify.org/docs/user-guide/ ➕ https://github.com/uber/NullAway/issues/917
lombok.addNullAnnotations = jspecify

lombok.var.flagUsage = error